<!DOCTYPE html>
<head>
    <meta http-equiv="content-encoding" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/nprogress/nprogress.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-social.css" />
</head>
<body id="container">
    @RenderBody()
    <!--Scripts-->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/jquery-pjax/jquery.pjax.js"></script>
    <script type="text/javascript" src="~/Content/plugins/nprogress/nprogress.js"></script>
    <script type="text/javascript" src="~/Content/plugins/imsky-holder-7978550/holder.js"></script>
    <script type="text/javascript" src="~/Content/js/application.js"></script>
    
</body>